.teacher-home .lessons-amount {
  margin-right: 16px;
  width: 30%;
  padding-bottom: 37.5px;
}
.teacher-home .lessons-amount .content-box {
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 12px;
}
.teacher-home .lessons-amount .content-box:last-child {
  margin-bottom: 0;
}
.teacher-home .lessons-amount .content-box > .left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 6px;
  margin-right: 12px;
}
.teacher-home .lessons-amount .content-box > .left.green {
  background-color: rgba(0, 188, 133, 0.1);
}
.teacher-home .lessons-amount .content-box > .left.red {
  background-color: rgba(240, 59, 42, 0.1);
}
.teacher-home .lessons-amount .content-box > .left.grey {
  background-color: rgba(113, 113, 113, 0.1);
}
.teacher-home .lessons-amount .content-box > .left.orange {
  background-color: rgba(251, 160, 19, 0.1);
}
.teacher-home .lessons-amount .content-box > .right {
  width: 100%;
}
.teacher-home .lessons-amount .content-box > .right .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}
.teacher-home .lessons-amount .content-box > .right .top svg {
  cursor: pointer;
}
.teacher-home .lessons-amount .content-box > .right .title {
  color: var(--neutrals-600);
  font-size: 16px;
  font-weight: 600;
}
.teacher-home .lessons-amount .content-box > .right .amount {
  color: var(--neutrals-900);
  font-size: 24px;
  font-weight: 700;
}
.teacher-home .lessons-amount .grid-item.last {
  display: none;
}
.teacher-home .lessons-amount .grid-item .teacher-salary {
  display: none;
}
@media screen and (max-width: 1100px) {
  .teacher-home .lessons-amount {
    width: 100%;
    margin-right: 0;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 1fr 1fr */
  }
  .teacher-home .lessons-amount .grid-item .teacher-salary {
    display: inline-block;
  }
  .teacher-home .lessons-amount .grid-item.last {
    display: flex;
  }
  .teacher-home .lessons-amount .grid-item:nth-child(1) {
    grid-row: 1; /* First row */
    grid-column: 1; /* First column */
    margin-right: 8px;
  }
  
  .teacher-home .lessons-amount .grid-item:nth-child(2) {
    grid-row: 1; /* First row */
    grid-column: 2; /* Second column */
    margin-right: 8px;
  }
  
  .teacher-home .lessons-amount .grid-item:nth-child(3) {
    grid-row: 1; /* First row */
    grid-column: 3; /* Third column */
  }
  
  .teacher-home .lessons-amount .grid-item:nth-child(4) {
    grid-row: 2; /* Second row */
    grid-column: 1; /* First column */
    margin-right: 8px;
    padding-bottom: 37.5px
  }
  .teacher-home .lessons-amount .grid-item:nth-child(4) .content-box {
    height: 69px;
  }
  
  .teacher-home .lessons-amount .grid-item:nth-child(5) {
    grid-row: 2; /* Second row */
    grid-column: 2 / span 2; /* Second column, spanning two columns */
  }
  .teacher-home .lessons-amount .content-box {
    padding: 8px;
  }
  .teacher-home .lessons-amount .content-box > .left {
    padding: 6.43px;
    margin-right: 6px;
  }
  .teacher-home .lessons-amount .content-box > .left svg {
    width: 23.143px;
    height: 23.143px;
  }
  .teacher-home .lessons-amount .content-box > .right .title {
    font-size: 14px;
  }
  .teacher-home .lessons-amount .content-box > .right .amount {
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  .teacher-home .lessons-amount {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    margin-bottom: 12px;
  }
  .teacher-home .lessons-amount .grid-item.last {
    display: none;
  }
  .teacher-home .lessons-amount .grid-item .teacher-salary {
    display: none;
  }
  .teacher-home .lessons-amount .grid-item {
    grid-row: auto !important;
    grid-column: auto !important;
    margin-right: 0 !important;
  }
  .teacher-home .lessons-amount .grid-item:nth-child(4) {
    padding-bottom: 0;
  }
  .teacher-home .lessons-amount .content-box {
    margin-bottom: 0;
  }
  .teacher-home .lessons-amount .content-box {
    padding: 6px 9px;
  }
  .teacher-home .lessons-amount .content-box > .right .title {
    font-size: 12px;
  }
  .teacher-home .lessons-amount .content-box > .right .amount {
    font-size: 16px;
  }
  .teacher-home .lessons-amount .content-box > .right .top {
    margin-bottom: 0;
  }
  .teacher-home .lessons-amount .date-filter-dropdown {
    display: none;
  }
  .teacher-home .lessons-amount .content-box.leaderboard-order .date-filter-dropdown {
    display: flex;
    min-width: auto;
  }
  .teacher-home .lessons-amount .content-box.leaderboard-order .date-filter-dropdown .dropdown-head p {
    width: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}