.student-panel-page .dropdown-container {
  padding: 24px 0;
}
.student-panel-page .dropdown-container-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.student-panel-page .dropdown-container-con > .left .dropdown-name.lesson-status {
    width: 234px;
}
.student-panel-page .dropdown-container-con > .right {
  display: flex;
  align-items: center;
}
.student-panel-page .dropdown-container-con > .right .date-container .from,
.student-panel-page .dropdown-container-con > .right .date-container .to {
  width: 236px;
}
.student-panel-page .dropdown-container-con > .right .date-container .to {
  margin-left: 8px;
}
.student-panel-page
  .dropdown-container-con
  > .right
  .date-container
  .date-picker-a {
  height: 41.5px;
  border-radius: 8px;
  border: 0.4px solid var(--neutrals-300, #ddd);
  background: var(--neutrals-100, #f4f4f4);
}
.student-panel-page .dropdown-container-con > .right .buttons-con {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.student-panel-page .dropdown-container-con > .right .buttons-con .apply-btn {
  border-radius: 8px;
  background: var(--primary-500, #462aff);
  padding: 10px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
}
.student-panel-page
  .dropdown-container-con
  > .right
  .buttons-con
  .apply-btn:hover {
  background-color: var(--primary-700);
}
.student-panel-page .dropdown-container-con > .right .buttons-con .clear-btn {
  padding: 10px 16px;
  color: var(--neutrals-500, #9a9a9a);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}

.student-panel-page
  .dropdown-container-con
  > .right
  .datepicker-filter-modal-btn {
  color: var(--neutrals-600);
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  border: 0.4px solid var(--neutrals-300);
  padding: 10px 12px;
  display: none;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  background: var(--neutrals-100, #f4f4f4);
}

@media screen and (max-width: 1100px) {
  .student-panel-page .dropdown-container-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }
  .student-panel-page
    .dropdown-container-con
    > .left
    .search-form
    .input-box
    input {
    width: 100%;
  }
  .student-panel-page .dropdown-container-con > .left {
    margin-right: 6px;
  }
  .student-panel-page .dropdown-container-con > .left .dropdown-name.lesson-status {
    width: auto;
  }
  .student-panel-page .dropdown-container-con > .right {
    flex-direction: column;
    align-items: flex-end;
    margin-left: 6px;
  }
  .student-panel-page .dropdown-container-con > .right .date-container {
    flex-direction: column;
    width: 100%;
  }
  .student-panel-page .dropdown-container-con > .right .date-container .to {
    margin-left: 0;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .student-panel-page .dropdown-container-con > .right .date-container .from,
  .student-panel-page .dropdown-container-con > .right .date-container .to {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .student-panel-page .dropdown-container-con > .left {
    margin-right: 4px;
  }
  .student-panel-page .dropdown-container-con > .right {
    margin-left: 4px;
  }
  .student-panel-page .dropdown-container-con > .right .date-container,
  .student-panel-page .dropdown-container-con > .right .buttons-con {
    display: none !important;
  }
  .student-panel-page
    .dropdown-container-con
    > .left
    .search-form
    .input-box
    input {
    font-size: 14px;
  }
  .student-panel-page
    .dropdown-container-con
    > .right
    .datepicker-filter-modal-btn {
    display: flex;
  }
}
