.teacher-home .teacher-lesson-statistics {
  width: 70%;
  padding: 18px 16px 16px 16px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}
.teacher-home .teacher-lesson-statistics > .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.teacher-home .teacher-lesson-statistics > .top h2 {
  color: var(--neutrals-900);
  font-size: 24px;
  font-weight: 700;
}

.teacher-home .teacher-lesson-statistics .chart-legends {
  display: flex;
  margin-top: 24px;
}
.teacher-home .teacher-lesson-statistics .chart-legends .legend {
  color: var(--neutrals-900);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  padding: 4px 16px;
  margin-right: 12px;
  cursor: pointer;
}
.teacher-home .teacher-lesson-statistics .chart-legends .legend:last-child {
  margin-right: 0;
}
.teacher-home .teacher-lesson-statistics .chart-legends .legend.blue {
  border: 1px solid var(--secondary-600);
  background: rgba(5, 165, 234, 0.1);
}
.teacher-home .teacher-lesson-statistics .chart-legends .legend.yellow {
  border: 1px solid var(--tertiary-700);
  background: rgba(251, 160, 19, 0.1);
}

@media screen and (max-width: 1100px) {
  .teacher-home .teacher-lesson-statistics.desktop {
    display: none;
  }
  .teacher-home .teacher-lesson-statistics {
    padding: 12px;
    width: 100%;
  }
  .teacher-home .teacher-lesson-statistics > .top h2 {
    font-size: 18px;
  }
  .teacher-home .teacher-lesson-statistics .chart-legends {
    margin-top: 12px;
  }
  .teacher-home .teacher-lesson-statistics .chart-legends .legend {
    padding: 4px 12px;
  }
}

@media screen and (max-width: 640px) {
  .teacher-home .teacher-lesson-statistics.desktop {
    display: block;
  }
  .teacher-home .teacher-lesson-statistics {
    padding: 9px 8px 8px 8px;
  }
  .teacher-home .teacher-lesson-statistics > .top {
    margin-bottom: 20px;
  }
  .teacher-home .teacher-lesson-statistics > .top h2 {
    font-size: 20px;
  }
  .teacher-home .teacher-lesson-statistics .chart-legends .legend {
    font-size: 12px;
  }
}