.teacher-home .teacher-feedback {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.06);
  padding: 16px;
  max-height: 308px;
  min-height: 175px;
  overflow: auto;
}
.teacher-home .teacher-feedback > .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.teacher-home .teacher-feedback > .top .left {
  display: flex;
  /* align-items: center; */
  gap: 16px;
  margin-left: 8px;
}
.teacher-home .teacher-feedback > .top .title {
  color: var(--neutrals-900);
  font-size: 20px;
  font-weight: 700;
}
.teacher-home .teacher-feedback > .top .left .input-box {
  position: relative;
}
.teacher-home .teacher-feedback > .top .left .input-box input {
  color: var(--neutrals-600);
  font-size: 14px;
  font-weight: 600;
  padding: 3px 24px 3px 6px;
  width: 100%;
  border-bottom: 0.5px solid transparent;
  /* position: relative;
  background-color: transparent;
  z-index: 1; */
}
.teacher-home .teacher-feedback > .top .left .input-box input:focus {
  border-bottom: 0.5px solid #ddd;
}
.teacher-home .teacher-feedback > .top .left .input-box svg {
  position: absolute;
  right: 0;
}
.teacher-home .teacher-feedback .date {
  color: var(--neutrals-600);
  font-size: 14px;
  font-weight: 600;
  margin: 4px 0;
}
.teacher-home .teacher-feedback .feedback-data .context-con {
  padding: 12px 0;
  border-bottom: 0.5px solid #ddd;
}
.teacher-home .teacher-feedback .feedback-data .context-con:last-child {
  border-bottom: none;
}
.teacher-home .teacher-feedback .feedback-data .context-con > .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
.teacher-feedback .feedback-data .context-con > .top .title {
  color: var(--neutrals-900);
  font-size: 16px;
  font-weight: 700;
}
.teacher-feedback .feedback-data .context-con > .top .date {
  color: var(--neutrals-600);
  font-size: 12px;
  font-weight: 600;
}
.teacher-feedback .feedback-data .context-con > .bottom .description {
  color: var(--neutrals-600);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.teacher-feedback .feedback-data .context-con > .bottom .description .read-more {
  color: var(--neutrals-500);
  cursor: pointer;
}
.teacher-home .teacher-feedback::-webkit-scrollbar-thumb {
  background: var(--primary-500) !important;
}
.teacher-home .teacher-feedback::-webkit-scrollbar-track {
  background: var(--neutrals-100) !important;
}
.teacher-home .teacher-feedback .feedback-data .context-con > .top .func-component {
  position: relative;
}
.teacher-home .teacher-feedback .feedback-data .context-con > .top .delete-update-modal {
  right: 0;
  top: 27px;
}
@media screen and (max-width: 1100px) {
  .teacher-home .teacher-feedback {
    padding: 12px;
  }
  .teacher-home .teacher-feedback > .top {
    margin-bottom: 8px;
  }
  .teacher-home .teacher-feedback > .top .title {
    font-size: 16px;
  }
  .teacher-home .teacher-feedback > .top .left svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 640px) {
  .teacher-home .teacher-feedback {
    order: 3;
  }
  .teacher-home .teacher-feedback > .top .left .input-box input {
    /* border-bottom: 0.5px solid #ddd; */
  }
}
