.teacher-home .teacher-salary {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.06);
  padding: 16px;
  margin-right: 16px;
}
.teacher-home .teacher-salary > .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.teacher-home .teacher-salary > .top .title {
  color: var(--neutrals-900);
  font-size: 20px;
  font-weight: 700;
}
.teacher-home .teacher-salary > .bottom {
}
.teacher-home .teacher-salary > .bottom .content-con {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 0.5px solid #ddd;
}
.teacher-home .teacher-salary > .bottom .content-con:last-child {
  border-bottom: none;
}
.teacher-home .teacher-salary > .bottom .content-type {
  color: var(--neutrals-600);
  font-size: 16px;
  font-weight: 500;
  margin-right: 8px;
}
.teacher-home .teacher-salary > .bottom .content-value {
  color: var(--neutrals-900);
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 1100px) {
  .teacher-home .teacher-salary {
    width: 100%;
    margin-right: 0;
    padding: 12px;
    margin-bottom: 12px;
  }
  .teacher-home .teacher-salary > .top {
    margin-bottom: 10px;
  }
  .teacher-home .teacher-salary > .top .title {
    font-size: 16px;
  }
  .teacher-home .teacher-salary > .bottom .content-type {
    font-size: 14px;
  }
  .teacher-home .teacher-salary > .bottom .content-value {
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  .teacher-home .teacher-salary {
    order: 1;
  }
  .teacher-home .teacher-feedback > .top .title {
    font-size: 18px;
  }
}