.css-lref2s-MuiTableCell-root{
    border: none;
}

.css-177gid-MuiTableCell-root{
    border: none;
}

.css-1lmtkkv-MuiTableRow-root{
    border-bottom: 0.5px solid gray;
}
.check-input{
    /* height: 0; */
}
.css-rorn0c-MuiTableContainer-root{
    overflow-x:none;
}

.paids-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.paids-container .paids-content{
    display: flex;
}
.paids-container .css-ahj2mt-MuiTypography-root{
    font-size: 16px;
}
.paids-container .css-ahj2mt-MuiTypography-root:nth-child(2){
    margin-left: 10px;
}
.css-bhp9pd-MuiPaper-root-MuiCard-root{
    padding: 10px;
    box-shadow: none;
}
.paids-container .minus-icon-con{
    cursor: pointer;
}