.teacher-panel-page {
    /* margin-top: 56px */
}

.teacher-panel-page .teacher-panel-filter {
    margin-top: 36px;
}



/* .teacher-panel-page .teacher-panel-filter .container {
    display: flex;
} */

.teacher-panel-page .teacher-panel-filter .container .teacher-panel-filter-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}


.teacher-panel-page .teacher-panel-filter .class-select{
    margin: 0;
    width: 35%;
}
.teacher-panel-page .teacher-panel-filter .class-select ul li{
font-size: 14px;
}
.teacher-panel-page .teacher-panel-filter .picker-container{
    /* width: 65%; */
    display: flex;
    align-items: center;
    /* display: none; */
}
.teacher-panel-page .teacher-panel-filter .picker-container .date-picker{
    width: 70%;
}
.teacher-panel-page .teacher-panel-filter .picker-container .date-picker .date-container{ 
    margin: 0;
}
.teacher-panel-page .teacher-panel-filter .picker-container .date-picker .date-container .from{
    width: 50%;
}
.teacher-panel-page .teacher-panel-filter .picker-container .date-picker .date-container .to{
    width: 50%;
}

.teacher-panel-page .teacher-panel-filter .teacher-panel-apply{
    display: flex;
    align-items: center;
    margin-left: 20px;
}


.teacher-panel-page .teacher-panel-filter .picker-container .date-picker .date-container .react-datepicker__input-container input{
    font-size: 14px;
}
.date-container .date-picker-a h4{
    font-size: 14px;
}


.teacher-panel-page .teacher-panel-filter .teacher-panel-apply h4{
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #9a9a9a;
    margin-right: 20px;
    white-space: nowrap;
    cursor: pointer;
}
.teacher-panel-page .teacher-panel-filter .teacher-panel-apply .teacher-panel-apply-btn{
    background-color: #462aff;
    color: white;
    border-radius: 8px;
    padding: 0 20px;
    height: 51px;
    font-size: 16px;
    cursor: pointer;
    /* width: 60%; */
}
.teacher-panel-filter .picker-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.teacher-panel-table-header{
    /* margin-top: 56px; */
}
.teacher-panel-paginate{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}
.teacher-panel-paginate .teacher-panel-table-header-status{
    display: flex;
}
.teacher-panel-paginate .teacher-panel-table-header-status h6{

    font-size: 20px;
    font-weight: 600;
    color: #1E1E1E;
}
.teacher-panel-paginate .teacher-panel-table-header-status h6:nth-child(2) {
margin-left: 56px;
}



.teacher-panel-table-header h2{
    color: #1E1E1E;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}
.teacher-panel-table-header .teacher-panel-table-header-status{
    display: flex;
    margin-top: 24px;
}
  
  .teacher-panel-page .teacherpanel-table-header {
    display: none;
    background-color: var(--neutrals-200);
    height: 75px;
    /* display: flex; */
    justify-content: space-evenly;
    align-items: center;
  }
  .teacher-panel-page
    .teacherpanel-table-header
    .teacher-panel-table-header-container {
    padding: 0 60px;
    width: 100%;
  }
  
  .teacher-panel-page
  .teacherpanel-table-header
  .teacher-panel-table-header-container
  .teacher-panel-table-header-content{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  
  .teacher-panel-page
    .teacherpanel-table-header
    .teacher-panel-table-header-container
    .teacher-panel-table-header-content
    h3 {
    font-size: 32px;
    color: var(--neutrals-900);
    font-weight: 700;
    line-height: 44px;
  }


  .teacher-panel-page .teacher-panel-filter .container .teacher-panel-filter-container .dropdown-name{
    width: 20%;
  }  

  
  @media screen and (max-width: 800px) {
    .teacher-panel-page
      .teacherpanel-table-header
      .teacher-panel-table-header-container {
      padding: 0 16px;
    }
    .teacher-panel-paginate .teacher-panel-table-header-status h6{
        font-size: 16px;
    }
  
  }

  @media screen  and (max-width:600px){
    /* .teacher-panel-paginate :where(.css-dev-only-do-not-override-w8mnev).ant-pagination{
        display: none;
    } */

    .teacher-panel-paginate{
        flex-direction: column;
    }
    .teacher-panel-paginate .teacher-panel-table-header-status{
        width: 100%;
        justify-content: flex-start;
    }

     .teacher-panel-paginate :where(.css-dev-only-do-not-override-w8mnev).ant-pagination{
        width: 100%;
        justify-content: flex-end;
        display: flex;
        margin-top: 24px;
    }

  }
  


@media screen  and (max-width:1280px){
    .teacher-panel-page
    .teacher-panel-filter
    .container
    .teacher-panel-filter-container {
      justify-content: flex-start;
  }

  .teacher-panel-page .teacher-panel-filter .container .teacher-panel-filter-container .dropdown-name{
    width: 50%;
  }
  .teacher-panel-page .teacher-panel-filter .date-picker {
    margin: 0;
    width: 100%;
  }
  .teacher-panel-page .teacher-panel-filter .class-select {
    width: 100%;
  }
  .teacher-panel-page .teacher-panel-filter .date-picker .date-container {
    flex-direction: column;
  }
  .picker-container {
    margin-left: 20px;
  }
  .teacher-panel-page
    .teacher-panel-filter
    .picker-container
    .date-picker
    .date-container
    .from {
    width: 100%;
  }
  .teacher-panel-page .teacher-panel-filter .picker-container {
    width: 50%;
  }
  .teacher-panel-page
    .teacher-panel-filter
    .picker-container
    .date-picker
    .date-container
    .to {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
  .teacher-panel-page .teacher-panel-filter .picker-container {
    flex-direction: column;
  }
  .teacher-panel-page .teacher-panel-filter .picker-container .date-picker {
    width: 100%;
  }
  .teacher-panel-page .teacher-panel-filter .teacher-panel-apply {
    margin: 0;
    margin-top: 20px;
    justify-content: flex-end;
    width: 100%;
  }

  .teacher-panel-page .teacher-panel-filter .teacher-panel-apply h4{
    font-size: 14px;
  }
  .teacher-panel-page .teacher-panel-filter .teacher-panel-apply h4{
    font-size: 14px;
  }

}

@media screen and (max-width:500px) {
    :where(.css-dev-only-do-not-override-1jr9qlj).ant-pagination{
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 500px) {
    .teacher-panel-page .teacher-panel-filter .container .teacher-panel-filter-container .dropdown-name{
      display: flex;
    }
    .teacher-panel-page .teacher-panel-filter .container .teacher-panel-filter-container .dropdown-name .dropdown-select{
      margin: 0;
    }
    .teacher-table-header-content {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .teacher-panel-page .teacher-panel-filter .teacher-panel-apply{
      display: none;
    }

    .teacher-panel-page .teacher-panel-filter .container .teacher-panel-filter-container .dropdown-name h6 {
        font-size: 14px;
    }
  
}

@media screen and (max-width:680px) {
  .teacher-panel-page .teacher-panel-filter .container .teacher-panel-filter-container{
    flex-direction: column;
  }
  .teacher-panel-page .teacher-panel-filter .container .teacher-panel-filter-container .dropdown-name{
    width: 100%;
  }
  .teacher-panel-page .teacher-panel-filter .container .teacher-panel-filter-container .dropdown-name.dropdown-btn .dropdown-select{
    margin: 0;
  }
  .teacher-panel-page .teacher-panel-filter .picker-container{
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
  .teacher-panel-page .teacher-panel-filter .picker-container .date-picker{
    width: 100%;
  }
  .teacher-panel-page .teacher-panel-filter .teacher-panel-apply{
    display: flex;
  }
}